fastapi==0.128.0
uvicorn==0.40.0
pandas==2.3.3
transformers>=4.39.0,<4.40
sentence-transformers>=2.6.1,<2.7
faiss-cpu==1.7.4
langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
jinja2==3.1.6

# Torch CPU only
torch==2.0.1 ; platform_system != "Windows"
